/* STYLE DU SITE, DECORATION, COULEURS ... */

/* importation d'une police d'écriture */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


/* Style pour les titres principaux */
h1 {
    text-align: center; /* centré dans la page */
    margin-top: 2rem; /* marge en haut du titre */
}

/* Style pour les titres secondaires */
h2 {
    text-align: center; /* titre centré */
    margin-top: 2rem; /* marge supérieur */
    color: #723dc2; /* couleur de texte violet */
    border: solid 2px #723dc2; /* Bordure violette de 2px d'épaisseur */
    border-radius: 10px; /* Coins arrondis */
    margin: 2rem; /* Marge extérieure du texte */
}

/* Style pour les titres tertiaire */
h3 {
    text-align: center;
    margin-top: 2rem;
    color: green;
    text-decoration: underline; /* Soulignement du texte */
}

/* Container pour les images, utilisé pour centrer les images à l'intérieur */
.centeredItems {
    display: flex; /* Flexbox (boite flexible) pour la mise en page */
    justify-content: center; /* Centrage horizontal des éléments */
    margin-top: 2rem; /* Marge supérieure */
}

/* Container pour les textes */
.textDesign {
    background-color: #d0b8b2; /* Couleur de fond du container */
    box-shadow: 10px 15px 5px 3px #656565; /* Ombre portée sous le container */
    padding: 2rem; /* Marge à l'intérieur du container */
    border-radius: 10px; /* Coins arrondis */
    margin: 2rem; /* Marge autour du container */
}

/* Container pour les images, utilisé pour centrer les images à l'intérieur */
.imageContainer {
    display: flex; /* Flexbox (boite flexible) pour la mise en page */
    justify-content: center; /* Centrage horizontal du contenu */
    margin-top: 1rem; /* Marge supérieure */
    margin-bottom: 2rem; /* Marge inférieure */
}

/* style des 4 images */

.imgOne {
    margin-left: 2rem; /* Marge à gauche */
    width: 30rem; /* Largeur de l'image */
    height: auto; /* Hauteur ajustée automatiquement pour respecter les proportions */
}

.imgTwo {
    width: 20rem; 
    height: 10rem; /* Hauteur de l'image */
    margin-left: 2rem; 
}

.imgThree {
    width: 50rem;
    height: auto; 
}

.imgFour {
    width: 20rem; 
    height: auto; 
    margin-left: 8rem; 
}

/* RECHERCHE */

/* Style avec des marges sur le haut et la gauche */
#resultat {
    margin-top: 1rem; /* Marge supérieure */
    margin-left: 0.5rem; /* Marge gauche */
}

/* Couleur de fond de la barre de navigation */
nav {
    background-color: #35c3cc;
}

/* style du titre du site dans la barre de navigation */
.navTittle {
    font-family: "Shadows Into Light", cursive; /* Police d'écriture */
    color: white; /* Couleur de police */
    font-weight: bold; /* Style gras */
    font-size: 1.5rem; /* Taille de police */
}


/* Scrollbar personnalisée */

/* Style de la piste (track) de la scrollbar */
body::-webkit-scrollbar-track {
    /* Ajoute une ombre interne à la piste pour donner un effet de profondeur */
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /* Définit la couleur de fond de la piste */
    background-color: #F5F5F5;
}

/* Style de la scrollbar elle-même */
body::-webkit-scrollbar {
    /* Définit la largeur de la scrollbar à 12 pixels */
    width: 12px;
}

/* Style du thumb (pouce), c'est-à-dire la partie mobile de la scrollbar */
body::-webkit-scrollbar-thumb {
    /* Arrondit les bords du pouce */
    border-radius: 10px;
    /* Ajoute une ombre interne pour donner un effet de profondeur au pouce */
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /* Définit la couleur de fond du pouce */
    background-color: #35c3cc;
}
